---
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Astro + Tailwind Project</title>
  </head>
  <body class="bg-gray-100 ">
    <slot />
  </body>
</html>